<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>John Doe | Full-Stack Software Developer</title>
		<meta
			name="description"
			content="John Doe is a software developer with 10 years of experience. He specializes in various languages, including Java, Python, and C++. He has developed large-scale web applications, mobile applications, and games."
		/>
		<meta name="author" content="John Doe" />
		<meta name="copyright" content="Copyright 2024, John Doe" />
		<meta name="robots" content="index, follow" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
			integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/style.css" />

	</head>
	<body>
		<header>
			<h1>John Doe</h1>

			<nav class="social-menu">
				<ul>
					<li>
						<a
							href="https://linkedin.com"
							target="_blank"
							rel="no-opener no-referrer"
							><i class="fa-brands fa-linkedin"></i
						></a>
					</li>
					<li>
						<a
							href="https://twitter.com"
							target="_blank"
							rel="no-opener no-referrer"
							><i class="fa-brands fa-x-twitter"></i
						></a>
					</li>
					<li>
						<a
							href="https://facebook.com"
							target="_blank"
							rel="no-opener no-referrer"
							><i class="fa-brands fa-facebook"></i
						></a>
					</li>
				</ul>
			</nav>

			<label for="chkMenu" class="lbl-menu"><i class="fa-solid fa-bars fa-2x"></i></label>
			<input type="checkbox" id="chkMenu" class="chk-menu"/>
			<nav class="main-menu">
				<ul>
					<li>
						<a href="#home" title="Homepage of John Doe">Home</a>
					</li>
					<li><a href="#about" title="About John Doe">About</a></li>
					<li><a href="#what-i-do">What I Do</a></li>
					<li><a href="#resume">Resume</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#client">Client</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>

			
		</header>

		<main>
			<section class="banner">
				<img src="img/john-doe-banner.jpg" alt="John Doe" />

				<div class="banner-text">
					<h5>Welcome</h5>
					<h2>I'm a developer</h2>
					<p>based in Los Angeles, California</p>
					<button class="btn btn-outline">Hire me</button>
				</div>
			</section>

			<section class="about container">
				<div class="section-title">
					<h2>About Me</h2>
					<h4>Know Me More</h4>
				</div>

				<div class="section-content">
					<div class="row">
						<div>
							<h3>I'm <span class="text-green">John Doe</span>, a Web Developer</h3>
							<p>
								I help you build brand for your business at an
								affordable price. Thousands of clients have
								procured exceptional results while working with
								our dedicated team. when an unknown printer took
								a galley of type and scrambled it to make a type
								specimen book.
							</p>
							<p>
								Delivering work within time and budget which
								meets client`s requirements is our moto. Lorem
								Ipsum has been the industry's standard dummy
								text ever when an unknown printer took a galley.
							</p>
						</div>

						<div>
							<ul class="contact">
								<li><strong>Name:</strong> John Doe</li>
								<li><strong>Email:</strong> john@doe.com</li>
								<li><strong>Age:</strong> 35</li>
								<li>
									<strong>From:</strong> Los Angles,
									California
								</li>
							</ul>
							<button class="btn btn-bg">
								Download CV <i class="fa-solid fa-download"></i>
							</button>
						</div>
					</div>

					<ul class="stats row">
						<li>
							<h3>10+</h3>
							<p>Years Experience</p>
						</li>
						<li>
							<h3>250+</h3>
							<p>Happy Clients</p>
						</li>
						<li>
							<h3>650+</h3>
							<p>Projects Done</p>
						</li>
						<li>
							<h3>38</h3>
							<p>Get Awards</p>
						</li>
					</ul>
				</div>
			</section>

			<section class="what-i-do container">
				<div class="section-title">
					<h2>Services</h2>
					<h4>What I Do</h4>
				</div>

				<div class="section-content">
					<div class="row">
						<ul>
							<li>
								<i class="fas fa-palette"></i>
								<div>
									<h3>Web Design</h3>
									<p>
										Lorem ipsum dolor sit amet consectetur,
										adipisicing elit. Labore, odio!
									</p>
								</div>
							</li>
							<li>
								<i class="fas fa-palette"></i>
								<div>
									<h3>UI/UX Design</h3>
									<p>
										Lorem ipsum dolor sit amet consectetur,
										adipisicing elit. Labore, odio!
									</p>
								</div>
							</li>
							<li>
								<i class="fas fa-palette"></i>
								<div>
									<h3>Business Analysis</h3>
									<p>
										Lorem ipsum dolor sit amet consectetur,
										adipisicing elit. Labore, odio!
									</p>
								</div>
							</li>
						</ul>

						<ul>
							<li>
								<i class="fas fa-palette"></i>
								<div>
									<h3>Graphic Design</h3>
									<p>
										Lorem ipsum dolor sit amet consectetur,
										adipisicing elit. Labore, odio!
									</p>
								</div>
							</li>
							<li>
								<i class="fas fa-palette"></i>
								<div>
									<h3>App design & Develop</h3>
									<p>
										Lorem ipsum dolor sit amet consectetur,
										adipisicing elit. Labore, odio!
									</p>
								</div>
							</li>
							<li>
								<i class="fas fa-palette"></i>
								<div>
									<h3>SEO Marketing</h3>
									<p>
										Lorem ipsum dolor sit amet consectetur,
										adipisicing elit. Labore, odio!
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>

			<section class="resume container">
				<div class="section-title">
					<h2>Summary</h2>
					<h4>Resume</h4>
				</div>

				<div class="section-content">
					<div class="row">
						<div>
							<h3>My Education</h3>

							<ul class="experience">
								<li>
									<span>2000-2004</span>
									<h4>Computer Science</h4>
									<h6>International University</h6>
									<p>
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit. Quidem, nemo? Omnis
										ratione rerum vero nulla?
									</p>
								</li>
								<li>
									<span>2000-2004</span>
									<h4>Computer Science</h4>
									<h6>International University</h6>
									<p>
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit. Quidem, nemo? Omnis
										ratione rerum vero nulla?
									</p>
								</li>
								<li>
									<span>2000-2004</span>
									<h4>Computer Science</h4>
									<h6>International University</h6>
									<p>
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit. Quidem, nemo? Omnis
										ratione rerum vero nulla?
									</p>
								</li>
							</ul>
						</div>
						<div>
							<h3>My Experience</h3>

							<ul class="experience">
								<li>
									<span>2000-2004</span>
									<h4>Computer Science</h4>
									<h6>International University</h6>
									<p>
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit. Quidem, nemo? Omnis
										ratione rerum vero nulla?
									</p>
								</li>
								<li>
									<span>2000-2004</span>
									<h4>Computer Science</h4>
									<h6>International University</h6>
									<p>
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit. Quidem, nemo? Omnis
										ratione rerum vero nulla?
									</p>
								</li>
								<li>
									<span>2000-2004</span>
									<h4>Computer Science</h4>
									<h6>International University</h6>
									<p>
										Lorem ipsum dolor sit amet consectetur
										adipisicing elit. Quidem, nemo? Omnis
										ratione rerum vero nulla?
									</p>
								</li>
							</ul>
						</div>
					</div>

					<div class="skills">
						<h3>My Skills</h3>
						<div class="row">
							<ul>
								<li>
									<h6>
										<span>Web Design</span>
										<span>85%</span>
									</h6>
									<div class="progress"><span></span></div>
								</li>
								<li>
									<h6>
										<span>Javascript</span>
										<span>85%</span>
									</h6>
									<div class="progress"><span></span></div>
								</li>
								<li>
									<h6>
										<span>AngularJS</span>
										<span>85%</span>
									</h6>
									<div class="progress"><span></span></div>
								</li>
							</ul>
							<ul>
								<li>
									<h6>
										<span>HTML/CSS</span>
										<span>85%</span>
									</h6>
									<div class="progress"><span></span></div>
								</li>
								<li>
									<h6>
										<span>ReactJS</span>
										<span>85%</span>
									</h6>
									<div class="progress"><span></span></div>
								</li>
								<li>
									<h6>
										<span>NextJS</span>
										<span>85%</span>
									</h6>
									<div class="progress"><span></span></div>
								</li>
							</ul>
						</div>
					</div>

					<div class="text-center">
						<button class="btn">
							Download CV <i class="fa-solid fa-download"></i>
						</button>
					</div>
					
				</div>
			</section>

			<section class="portfolio container">
				<div class="section-title">
					<h2>Portfolio</h2>
					<h4>My Work</h4>
				</div>

				<div class="section-content">
					<nav>
						<ul>
							<li><a href="#">All</a></li>
							<li><a href="#">Design</a></li>
							<li><a href="#">Brand</a></li>
							<li><a href="#">Photos</a></li>
						</ul>
					</nav>

					<div class="masonary-content">
						<img src="img/landscape-01.jpg" alt="Landscape" />
						<img src="img/landscape-02.jpg" alt="Landscape" />
						<img src="img/landscape-03.jpg" alt="Landscape" />
						<img src="img/landscape-04.jpg" alt="Landscape" />
						<img src="img/landscape-05.jpg" alt="Landscape" />
						<img src="img/landscape-06.jpg" alt="Landscape" />
						<img src="img/landscape-07.jpg" alt="Landscape" />
					</div>
				</div>
			</section>

			<section class="clients container">
				<div class="section-title">
					<h2>Testimonial</h2>
					<h4>Client Speak</h4>
				</div>

				<div class="section-content">
					<div class="row">
						<div class="testimonial">
							<div class="title">
								<img src="img/john-doe.png" alt="" />
								<div>
									<h4>Dennis Jacques</h4>
									<p>User from USA</p>
								</div>
							</div>
							<p>
								Lorem ipsum dolor sit amet consectetur,
								adipisicing elit. Possimus autem magnam, modi
								sapiente ab enim!
							</p>
							<label>⭐⭐⭐⭐⭐</label>
						</div>

						<div class="testimonial">
							<div class="title">
								<img src="img/john-doe.png" alt="" />
								<div>
									<h4>Dennis Jacques</h4>
									<p>User from USA</p>
								</div>
							</div>
							<p>
								Lorem ipsum dolor sit amet consectetur,
								adipisicing elit. Possimus autem magnam, modi
								sapiente ab enim!
							</p>
							<label>⭐⭐⭐⭐⭐</label>
						</div>
					</div>
				</div>
			</section>

			<section class="contact container">
				<div class="section-title">
					<h2>Get in Touch</h2>
					<h4>Contact</h4>
				</div>

				<div class="section-content">
					<div class="row">
						<div class="info">
							<div class="address">
								<h4>ADDRESS</h4>
								<address>
									Lorem ipsum dolor, sit amet consectetur
									adipisicing.
								</address>
							</div>

							<ol>
								<li>
									<a href="tel:+60444434444"
										><i class="fa-solid fa-phone"></i> (060)
										444 434 444</a
									>
								</li>
								<li>
									<a href="tel:+60444434445"
										><i class="fa-solid fa-fax"></i> (060)
										444 434 445</a
									>
								</li>
								<li>
									<a href="mailto:info@johndoe.com"
										><i class="fa-solid fa-envelope"></i>
										info@johndoe.com</a
									>
								</li>
							</ol>

							<div class="social">
								<h4>FOLLOW ME</h4>
								<ul>
									<li>
										<a
											href="https://linkedin.com"
											target="_blank"
											rel="no-opener no-referrer"
											><i
												class="fa-brands fa-linkedin"
											></i
										></a>
									</li>
									<li>
										<a
											href="https://twitter.com"
											target="_blank"
											rel="no-opener no-referrer"
											><i
												class="fa-brands fa-x-twitter"
											></i
										></a>
									</li>
									<li>
										<a
											href="https://facebook.com"
											target="_blank"
											rel="no-opener no-referrer"
											><i
												class="fa-brands fa-facebook"
											></i
										></a>
									</li>
								</ul>
							</div>
						</div>
						<div>
							<h4>SEND US A NOTE</h4>
							<form action="">
								<div>
									<input
										type="text"
										name="name"
										class="form-control"
										id="name"
										placeholder="Name"
									/>
									<input
										type="email"
										name="email"
										class="form-control"
										id="email"
										placeholder="E-mail"
									/>
								</div>
								<div>
									<textarea
										name="message"
										id="message"
										class="form-control"
										cols="30"
										rows="5"
										placeholder="Your message"
									></textarea>
								</div>
								<div class="text-center">
									<button class="btn btn-bg">Send Message</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</main>

		<footer class="container">
			<div class="row">
				<p>Copyright &copy;2023 <span class="text-green">John Doe</span>. All rights reserved.</p>

				<nav>
					<ul>
						<li><a href="#">Terms &amp; Policy</a></li>
						<li><a href="#">Disclaimer</a></li>
					</ul>
				</nav>
			</div>
		</footer>
	</body>
</html>
