.social-menu {
	display: none;
	font-size: 1.2rem;
}

@media (min-width: 700px) {
	.social-menu {
		display: block;
	}
}

@media (min-width: 1000px) {
	.social-menu {
		order:2;
	}
}

.social-menu ul {
	display: flex;
}

.social-menu a {
	display: inline-block;
	padding: 10px;
}