.banner {
	position: relative;
}

.banner img {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	object-position: center center;
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
}

.banner .banner-text {
	text-align: center;
	font-size: 150%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 4;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}